*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border:1px solid red;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin-top:1rem ;
}

.header{
text-align: center;
padding: 2rem 0;
}
.main{
    display: flex;
    position: relative;
    width: 70%;
    margin: 0 auto;
   

    .left{
        
        
        width: 35%;
        .first{
            h2{
                padding: 0 2rem;
                color: #333333;
                font-size: 18px
            }
            .box{
                position: relative;
                i{ 
                    position: absolute;
                    top:50%;
                    left: 0.5rem;
                    color: #888888;

                }
            }
            form{
            padding: 2rem;
            
                input{
                    padding: 0.5rem 2rem;
                    margin: 0.5rem 0;
                    width: 30vw;
                    border-radius: 10px;
                    border: 1px solid #828282;
                    font-family: Arial, Helvetica, sans-serif;

                    }
                
                label{
                    font-size: 12px;
                    color: #4f4f4f;
                }
    
            }
        }
        .second{
            h2{
                padding: 0 2rem;
                color: #333333;
                font-size: 18px;
            }
            form{
                padding: 2rem;
                .box{
                    position: relative;
                    i{ 
                        position: absolute;
                        top:50%;
                        left: 0.5rem;
                        color: #888888;
    
                    }
                }
                label{
                
                    font-size: 12px;
                    color: #4f4f4f;
                
                }
                input{
                    padding: 0.5rem 2rem;
                    margin: 0.5rem 0;
                    width: 30vw;
                    border-radius: 10px;
                    border: 1px solid #828282;
                    font-family: Arial, Helvetica, sans-serif;
                }
    
                .country{
                    display: flex; 
                    gap: 0.2rem;
                
                  .rg{
                    label{
                        margin: 0.5rem 0;

                    }
                    select{
                        padding: 0.4rem;
                        margin: 0.5rem 0;
                        border: 1px solid #828282;
                        border-radius: 10px;
                        color: #828282;
                       
                        
                    }
                  }
                  .lf{
                    position: relative;
                    i{
                        position: absolute;
                        top: 50%;
                        left:0.5rem;
                        color: #888888;
                    }
                    input{
                        width: 20vw;
                        
                    }
                  }
                }
                .last{
                  
                    input{
                        padding: 0;
                        margin: 0;
                        display: inline;
                        width: 1vw;
                    }
                }
            }
           
        }
    }
    .right{
        width: 30%;
        position: absolute;
        left:55%;
        background-color: #eee;
        .first-img{
            margin: 1rem;
            display: flex;
            img{
                width: 40%;
                
               
            }
            .vintage{
            width: 70%;
             margin-left: 1rem;
             padding: 0.5rem;
             h3{
                padding-bottom: 0.5rem;
             }
             .art-azalt{
                display: flex;
                justify-content: space-around;
                padding: 0.3rem 0;
                margin-top: 1.5rem;
                border: 1px solid #888888;
                border-radius: 10px;
                
             }
            }
        }
        .second-img{
            margin: 1rem;
            display: flex;
            img{
                width: 40%;
            }
            .levi{
                width: 70%;
                margin-left: 1rem;
               padding: 0.5rem;
               h3{
                padding-bottom: 0.5rem;
                }
                .art-azalt{
                    display: flex;
                    justify-content: space-around;
                    padding: 0.3rem 0;
                    margin-top: 1.5rem;
                    border: 1px solid #888888;
                    border-radius: 10px;
                
                }
            }
        }
        .ship{
            display: flex;
            justify-content:space-between;
            margin: 1rem;
        }
        .total{
            display: flex;
            justify-content: space-between;
            margin: 1rem;
        }
    }
}

.btn{
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    button{
        padding: 0.8rem 1.5rem;
        border-radius: 1rem;
        background-color: orange;
        border: none;
        color: white;
    }
}