* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-top: 1rem;
}

.header {
  text-align: center;
  padding: 2rem 0;
}

.main {
  display: flex;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.main .left {
  width: 35%;
}
.main .left .first h2 {
  padding: 0 2rem;
  color: #333333;
  font-size: 18px;
}
.main .left .first .box {
  position: relative;
}
.main .left .first .box i {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  color: #888888;
}
.main .left .first form {
  padding: 2rem;
}
.main .left .first form input {
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  width: 30vw;
  border-radius: 10px;
  border: 1px solid #828282;
  font-family: Arial, Helvetica, sans-serif;
}
.main .left .first form label {
  font-size: 12px;
  color: #4f4f4f;
}
.main .left .second h2 {
  padding: 0 2rem;
  color: #333333;
  font-size: 18px;
}
.main .left .second form {
  padding: 2rem;
}
.main .left .second form .box {
  position: relative;
}
.main .left .second form .box i {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  color: #888888;
}
.main .left .second form label {
  font-size: 12px;
  color: #4f4f4f;
}
.main .left .second form input {
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  width: 30vw;
  border-radius: 10px;
  border: 1px solid #828282;
  font-family: Arial, Helvetica, sans-serif;
}
.main .left .second form .country {
  display: flex;
  gap: 0.2rem;
}
.main .left .second form .country .rg label {
  margin: 0.5rem 0;
}
.main .left .second form .country .rg select {
  padding: 0.4rem;
  margin: 0.5rem 0;
  border: 1px solid #828282;
  border-radius: 10px;
  color: #828282;
}
.main .left .second form .country .lf {
  position: relative;
}
.main .left .second form .country .lf i {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  color: #888888;
}
.main .left .second form .country .lf input {
  width: 20vw;
}
.main .left .second form .last input {
  padding: 0;
  margin: 0;
  display: inline;
  width: 1vw;
}
.main .right {
  width: 30%;
  position: absolute;
  left: 50%;
  background-color: #eee;
  border-radius: 1rem;
}
.main .right .first-img {
  margin: 1rem;
  display: flex;
}
.main .right .first-img img {
  width: 40%;
  border-radius: 1rem;
}
.main .right .first-img .vintage {
  width: 70%;
  margin-left: 1rem;
  padding: 0.5rem;
}
.main .right .first-img .vintage h3 {
  padding-bottom: 0.5rem;
}
.main .right .first-img .vintage .art-azalt {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 0;
  margin-top: 1.5rem;
  border: 1px solid #888888;
  border-radius: 10px;
}
.main .right .first-img .vintage .art-azalt i {
  background-color: #e0e0e0;
}
.main .right .second-img {
  margin: 1rem;
  display: flex;
}
.main .right .second-img img {
  width: 40%;
  border-radius: 1rem;
}
.main .right .second-img .levi {
  width: 70%;
  margin-left: 1rem;
  padding: 0.5rem;
}
.main .right .second-img .levi h3 {
  padding-bottom: 0.5rem;
}
.main .right .second-img .levi .art-azalt {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 0;
  margin-top: 1.5rem;
  border: 1px solid #888888;
  border-radius: 10px;
}
.main .right .second-img .levi .art-azalt i {
  background-color: #e0e0e0;
}
.main .right .ship {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.main .right .total {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
}
.btn button {
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  background-color: orange;
  border: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
